/* Content/Styles/Style_Login/Login.css */

/* CSS để đặt chiều cao của phần section và căn giữa các form */
html, body {
    height: 100%;
    margin: 0;
}

section.bg-primary {
    min-height: 100vh; /* Đặt chiều cao tối thiểu thành 100% chiều cao viewport */
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0; /* Loại bỏ padding mặc định nếu cần */
}

.card {
    width: 100%;
    max-width: 500px; /* Đặt chiều rộng tối đa cho thẻ card */
    margin: 20px;
}

#loginForm, #resetPasswordForm, #registerForm {
    display: none; /* Mặc định ẩn tất cả các form */
}

#loginForm {
    display: block; /* Hiển thị form đăng nhập mặc định */
}


