@{
    Layout = null;
    ViewBag.Title = "Reset Password";
}

<!DOCTYPE html>
<html>
<head>
    <title>Reset Password</title>
    <link rel="stylesheet" type="text/css" href="~/Content/Styles/Style_Login/ResetPassword.css" />
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
</head>

<body>
    <div class="reset-password-container">
        <h2>Reset Password</h2>
        <form id="resetPasswordForm">
            <div>
                <label for="Email">Email:</label>
                <input type="email" id="Email" name="Email" required />
            </div>
            <div>
                <button type="submit">Reset Password</button>
            </div>
        </form>

        <div style="margin-top: 20px;">
            <p>Quay lại <a href="@Url.Action("Login", "Login")">Đăng nhập</a></p>
        </div>
    </div>

    <script>
        $(document).ready(function () {
            $("#resetPasswordForm").submit(function (event) {
                event.preventDefault();
                var email = $("#Email").val();

                $.ajax({
                    url: '@Url.Action("SendPasswordResetEmail", "ResetPassword")',
                    type: 'POST',
                    data: { Email: email },
                    success: function (response) {
                        if (response.success) {
                            Swal.fire({
                                icon: 'success',
                                title: 'Success',
                                text: response.message,
                                confirmButtonText: 'Quay về trang Đăng nhập'
                            }).then((result) => {
                                if (result.isConfirmed) {
                                    window.location.href = '@Url.Action("Login", "Login")';
                                }
                            });
                        } else {
                            Swal.fire({
                                icon: 'error',
                                title: 'Error',
                                text: response.message,
                                confirmButtonText: 'OK'
                            });
                        }
                    },
                    error: function () {
                        Swal.fire({
                            icon: 'error',
                            title: 'Error',
                            text: 'An error occurred while sending the reset password email.',
                            confirmButtonText: 'OK'
                        });
                    }
                });
            });
        });
    </script>
</body>
</html>
